.featured {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}

.featuredItem {
    flex: 1;
    border-radius: 5px;
    /* overflow: hidden; */
    cursor: pointer;
}

.featuredImg {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    overflow: hidden;
}

.featuredTitles > h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
}

.featuredTitles > h2 {
    font-size: 14px;
    font-weight: 300;
    line-height: 0.5;
}